[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = dewaynesmith3711
	email = 21258602+dewaynesmith3711@users.noreply.github.com
